// fonts
$fontNormal:'TTLakes-Normal', sans-serif;
$fontMedium:'TTLakes-Medium', sans-serif;
$fontBold: 'TTLakes-Bold', sans-serif;
//colors
$iconsColor:#FF3E79;
$lineColor: #EAEAEA;
$textColor:#1B1C21;;
$activeColor: #41F6D7;
$activeTextColor:#7E7E82;
$lightColor:#ffffff;
$bgColor:#F8F8F8;
$inputColor:#B5B6BC;
$opacityColor:#D9FFF5;
$paginationColor:#DDDDDD;